.da-navbar {
    padding: 5px 20px;
    background-color: var(--bijela);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: relative;
}

.logo-text-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #FDFEFEff;
}

.logo-text-container:hover {
    cursor: pointer;
}

.navbar-buttons {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.navbar-btn {
    text-decoration: underline;
    color: var(--crna);
    font-size: 1rem;
    font-weight: 500;
}

.navbar-btn:hover {
    cursor: pointer;
    color: color-mix(in oklab, var(--crna) 50%, var(--bijela) 50%);;
}

.account-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.account-name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.1rem;
    font-weight: 500;
    color: color-mix(in oklab, var(--crna) 50%, var(--bijela) 50%);
}

.account-name p {
    margin: 0;
    padding: 0;
}


.navbar-logo {
    height: 40px;
    width: auto;
}

.da-navbar-text {
    margin-left: 4px;
    height: 15px;
    width: auto;
}

.account-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: color-mix(in oklab, var(--crna) 50%, var(--bijela) 50%);
    border-radius: 50%;
    padding: 4px;
    height: 43px;
    width: 43px;
}

.user-icon {
    border-radius: 50%;
    height: 35px;
    width: auto;
    cursor: pointer;
}

.da-dropdown-menu {
    border: 3px solid var(--primary-darker);
    border-radius: 10px;
    background-color: var(--bijela);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 3px;
    width: 20vw;
    max-width: 300px;
    overflow: hidden;
    z-index: 1000;
}

.da-dropdown-item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-bottom: 2px solid var(--primary-darker);
    box-sizing: border-box;
}

.da-dropdown-item:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

.da-dropdown-item.no {
    border-bottom: none;
}

.da-dropdown-item div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    color: var(--bijela);
    border-radius: 50%;
    width: 3vh;
    height: 3vh;
}

.da-dropdown-item p {
    margin-left: 15px;
    margin-bottom: 0;
    color: var(--primary-darker);
}

.da-dropdown-item i {
    font-size: 1.2rem;
}

.da-dropdown-menu a {
    text-decoration: none;
}