@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.new-act-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
}

.new-act-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90vh;
}

.headboard-v {
    background-color: var(--primary);
    height: 10vh;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.headboard-v p {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1%;
    color: var(--primary);
    color: rgba(255, 255, 255, 0.5)
}

.new-act-form {
    margin: 0;
    padding: 0;
    width: 70%;
    height: auto;
}


/* --- Input Groups --- */
.form-input-group input::placeholder {
    color: var(--primary);
    opacity: 50%;
    padding: 1%;
}

.form-input-group input[type='text'] {
    height: 80%;
    width: 100%;
    color: var(--primary);
    border: 1px solid color-mix(in oklab, var(--primary) 50%, white 0%);
    border-radius: 8px;
}

.form-input-group input[type='text']:hover {
    background-color: color-mix(in oklab, var(--primary) 10%, white 100%);
}

.new-act-form p {
    color: var(--primary-darker);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-bottom: 2px solid var(--primary-darker);
}

.new-act-form div label {
    color: var(--primary-darker);
    font-size: 0.9rem;
    font-weight: 550;
    padding-bottom: 2px;
    padding: 0;
    padding-left: 1%;
}

.form-input-group {
    display: grid;
    grid-template-rows: 30% 70%;
    height: 10vh;
    align-items: center;
    justify-items: start;
    color: var(--primary-darker);
    font-size: 0.9rem;
    margin-bottom: 1vh;
}

/* --- Options Row --- */
.form-options-row {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    justify-items: start;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-darker);
    font-size: 0.9rem;
    height: auto;
}

.select-group {
    display: grid;
    grid-template-rows: 20% 80%;
    height: 10vh;
    align-items: center;
    justify-items: start;
    width: 20vw;
    padding: 0;
    margin: 0;
}

.select-group label {
    padding: 0;
    margin: 0;
}

.new-act-form .file-container {
    display: grid;
    grid-template-rows: 20% 80%;
    height: 10vh;
    align-items: center;
    justify-items: start;
    width: auto;
    padding: 0;
    margin: 0;
}

.new-act-form .file-container input[type='file']::file-selector-button {
    border: none;
    border-radius: 10px;
    height: 100%;
    color: white;
    background-color: color-mix(in oklab, var(--primary-darker) 70%, white 0%);
    padding: 4%;
}

.new-act-form .file-container input[type='file']::file-selector-button:hover {
    background-color: color-mix(in oklab, var(--primary-darker) 50%, black 20%);
}

.new-act-form input[type='submit'] {
    padding: 0;
    height: 4.5vh;
    width: 30%;
    border-style: none;
    border-radius: 20px;
    background-color: var(--primary-darker);
    font-size: 0.8rem;
    color: white
}

.new-act-form input[type='submit']:hover {
    cursor: pointer;
    background-color: color-mix(in oklab, var(--primary-darker) 100%, black 30%)
}

.react-select-container {
    width: 20vw;
    margin: 0;
    padding: 0;
}

.react-select__control {
    min-height: 40px;
    border-radius: 8px !important;
    border: 1px solid color-mix(in oklab, var(--primary) 50%, white 0%) !important;
    box-shadow: none !important;
}

.react-select__control:hover {
    background-color: color-mix(in oklab, var(--primary) 10%, white 100%);
    border-color: color-mix(in oklab, var(--primary) 50%, white 0%) !important;
    cursor: pointer;
}