@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.voditelj-reg-container {
    display: grid;
    grid-template-rows: 10vh 90vh;
    width: 100vw;
}

.voditelj-reg-form-container {
    display: grid;
    grid-template-rows: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    height: 90vh;
}

.headboard-v {
    background-color: var(--primary);
    height: 10vh;
    top:0;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.headboard-v p {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1%;
    color: var(--primary);
    color: rgba(255,255,255,0.5)
}

.voditelj-reg-form {
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 0;
    padding: 0;
    width: 35%;
    left: 50%;
    transform: translate(-50%);
    top: 20vh;
    height: auto;
}


.voditelj-reg-form input::placeholder {
    color: var(--primary);
    opacity: 50%;
    padding: 1%;
}

.voditelj-reg-form input[type='text'] {
    height: 100%;
    width: 60%;
    color: var(--primary);
    border: 1px solid color-mix(in oklab, var(--primary) 50%, white 0%);
    border-radius: 8px;
}

.voditelj-reg-form input[type='text']:hover {
    background-color: color-mix(in oklab, var(--primary) 10%, white 100%);
}

.voditelj-reg-form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
    height: 4vh;
    width: 100%;
}


.voditelj-reg-form div label {
    color: var(--primary-darker);
    font-size: 0.9rem;
    padding-bottom: 2px;
    padding: 0;
    padding-left: 1%;
}

.voditelj-reg-form input[type='submit'] {
    margin-top: 7%;
    height: 4.5vh;
    width: 30%;
    border-style: none;
    border-radius: 20px;
    background-color: var(--primary-darker);
    font-size: 0.8rem;
    color: white
}

.voditelj-reg-form input[type='submit']:hover {
    cursor: pointer;
    background-color: color-mix(in oklab, var(--primary-darker) 100%, black 30%)
}