@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #E04594ff;
  --secondary: #37D2E7ff;
  --primary-darker: #8A206Aff;
  --secondary-darker: #21519Aff;
  --bijela: #FDFEFEff;
  --crna: black;
  --ljubicasta: #8E45B3ff;

}

:root.theme-dark {
  --primary: #8A206Aff;
  --secondary: #21519Aff;
  --primary-darker: #E04594ff;
  --secondary-darker: #37D2E7ff;
  --bijela: #2C3E50ff;
  --crna: #ECF0F1ff;
  --ljubicasta: #5D3375ff;
}

body {
  margin: 0;
  background-color: var(--bijela);
}